mainmenu "Agilex5e Yocto Build GUI"

config KAS_INCLUDE_DEFAULT
	string
	default "kas.yml"

menu "FPGA Options"

choice
    prompt "SSBL Boot Source"
    default SSBL_BOOT_SRC_SD_MMC_CARD

config SSBL_BOOT_SRC_SD_MMC_CARD
    bool "SD/MMC CARD"
    help
      Boot from SD/MMC card.

config KERNEL_BOOTARGS_SD_MMC
    string "Linux kernel bootargs"
    default "console=ttyS0,115200 earlycon root=/dev/mmcblk0p2 rw rootwait panic=-1"
    depends on SSBL_BOOT_SRC_SD_MMC_CARD
    help
      Command line parameters for Linux Kernel(bootargs)
      sdmmc - console=ttyS0,115200 earlycon root=/dev/mmcblk0p2 rw rootwait panic=-1

config SSBL_BOOT_SRC_QSPI_NOR_FLASH
    bool "QSPI NOR Flash"
    help
      Boot from QSPI NOR Flash.

config KERNEL_BOOTARGS_QSPI
    string "Linux kernel bootargs"
    default "console=ttyS0,115200 earlycon ubi.mtd=1 root=ubi0:rootfs rootfstype=ubifs rw rootwait panic=-1"
    depends on SSBL_BOOT_SRC_QSPI_NOR_FLASH
    help
      Command line parameters for Linux Kernel(bootargs)
      qspi - console=ttyS0,115200 earlycon ubi.mtd=1 root=ubi0:rootfs rootfstype=ubifs rw rootwait panic=-1

config SSBL_BOOT_SRC_SCAN_ALL
    bool "Scan All Boot Sources"
    help
      SSBL boot source - scan all boot sources and boot from detected source.

endchoice

config SSBL_BOOT_SOURCE
	string
	default "mmc0" if SSBL_BOOT_SRC_SD_MMC_CARD
	default "qspi" if SSBL_BOOT_SRC_QSPI_NOR_FLASH
	default "mmc0 qspi" if SSBL_BOOT_SRC_SCAN_ALL

config FPGA_ENABLE_CORE_PGM_CONFIG
    bool "Enable core RBF FPGA configuration"
    default y
    help
      Enable this option to perform core RBF FPGA programming, applicable only for HPS boot first.

config FPGA_ENABLE_CORE_PGM
    string
    default "1" if FPGA_ENABLE_CORE_PGM_CONFIG
    default "0"

config CORE_IMAGE_EXTRA_INSTALL
    string
    default "fpga-bitstream" if FPGA_ENABLE_CORE_PGM_CONFIG

config FPGA_RBF_FILE
    string "Core RBF configuration bitstream filename"
    default "baseline_a55_hps_debug.core.rbf"
    depends on FPGA_ENABLE_CORE_PGM_CONFIG
    help
      Specify the .rbf file for FPGA programming. It's expected that the RBF file is located under meta-custom/recipes-fpga/fpga-bitstream/files/.
endmenu

source "kas/image/Kconfig"
source "kas/gsrd/Kconfig"
source "kas/apps/Kconfig"
